/*
* CSS for DHP
*/
.logo{
display: block;
text-align: center;
}

.navbar{
display: block;
text-align: center;
position: relative;
margin-left: -85px;
margin-top: -30px;
}
.navbar ul li{
display: inline;
cursor: pointer;
position: relative;
margin: auto;
width: 100%;
padding-left: 40px;
}

.navbar a:link{
text-decoration: none;
color: #001866;
font-weight: lighter;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.navbar a:hover{
border: 1px solid #809dff;
padding: 2px;
}
.navbar a:visited{
color: #0080ff;
}
.navbar a:active{
border: 1px solid #B896D9;
}

.boxSection{
text-align: center;
width: 500px;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
border: 2px dotted #000000;
border-radius: 10px;
background-color: #e6f2ff;
}


.gridPic {
margin-left: auto;
margin-right: auto;
}

.title{
text-align: center;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
color: #005582;
text-shadow: 4px 4px 9px #a3a3c2;
font-size: 29px;
}

table td {
border: none;
}
.productDesc{
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
color: #004d99;
text-align: center;
}

.bubbleLeft{
float: left;
background-color: #b3e6ff;
border-radius: 10px;
width: 300px;
padding: 5px;
border: 3px dashed #66b3ff;
margin-left: 250px;
margin-top: 30px;
}

.bubbleRight{
float: right;
background-color: #b3e6ff;
border-radius: 10px;
width: 300px;
padding: 5px;
border: 3px dashed #66b3ff;
margin-right: 250px;
margin-top: 30px;
}

.bubbleCenter{
float: right;
background-color: #b3e6ff;
border-radius: 10px;
width: 300px;
padding: 5px;
border: 3px dashed #66b3ff;
margin-right: 445px;
margin-top: 30px;
}

#profDesc{
float: right;
margin-right: 230px;
margin-top: 40px;
font-size: 19px;
}

.titleSection {
color: #001a66
font-weight: bold;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#productMenu{
text-align: center;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.titleSupply{
text-align: center;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
color: #005582;
text-shadow: 4px 4px 9px #a3a3c2;
}

.titlePolicy{
text-align: left;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
color: #005582;
text-shadow: 4px 4px 9px #a3a3c2;
}

#categorySupply{
text-align: center;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
color: #0088cc;
}

#map{
text-align: center;
}

#contactInfo{
text-align: center;
}

a.linkMenu:link{
color: #4da9ff;
text-decoration: none;
}

a.linkMenu:visited{
color: #000000;
}

a.linkMenu:hover {
color: #009ccc;
border: 1px solid #b3f0ff;
border-width: medium;
border-radius: 10px;
}

a.linkMenu:active{
color: #70dbdb;
}

li{
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
color: #786F6D;
font-size: 18px;
}

.table{
border-collapse: collapse;
background-color: #FFDED6;
margin-left: auto;
margin-right: auto;
}

table.table th, td {
border: 1px solid #000000;
padding: 6px;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

p {
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
color: #786F6D;
}

hr{
width: 500px;
}
